@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500&family=Parisienne&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Frank Ruhl Libre', serif;
}
/*   font-family: 'Parisienne', cursive;  */
section{
    height: 100vh;
    width: 100vw; 
}

/*    ICECREAM SECTION   */

.icecream h1{
    background-color:#eb2f06;
    font-size: 30px;
    text-transform: uppercase;
    color: antiquewhite;
    padding: 20px;
    font-weight: normal;
    user-select: none;
    text-align: center;
}
.menubuttons{
    background-color:#eb2f06;
    text-align: center;
}
.menubuttons a{
    text-decoration: none;
    color:antiquewhite; 
}
.menubuttons button{
    height: 30px;
    width: 80px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 50px;
    border: none;
    transition: 0.3s ease;
}
.menubuttons button:hover a{
    color:#eb2f06;
}
.icecream .icecreamcontainer{
    background-color:#eb2f06;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.icecream .icecreamcontainer .icecreambox{
    background-color: white;
    padding: 10px;
    margin: 10px;
    height: 325px;
    width: 250px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.icecreamcontainer .icecreambox .image img{
    height: 160px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    transition: 0.3s ease;
}
.icecreamcontainer .icecreambox .image{
    overflow: hidden;
}
.icecreamcontainer .icecreambox .image img:hover{
    transform: scale(1.2);
}
.icecreambox .image .favourites{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 20px;
    margin-left: -50px;
    margin-top: 10px;    
    position: absolute;
    background-color: rgba(0,0,0,0.6);
}
.icecreambox .image .favourites i{
    color: white;
    font-size: 18px;
}
.icecreambox .image .favourites i:hover{
    color: red;
}
.icecreambox .content h2{
    color: #eb2f06;
    font-size: 18px;
    margin-top: 5px;
    text-transform: capitalize;
    margin-left: 15px;
}
.content .rupeebutton{
    width: 150px;
    text-align: left;
    margin-left: 20px;
    margin-top: 5px;
    height: 30px;
    color:#eb2f06;
    border: none;
    background-color: white;
    font-size: 18px;
}
.rupeebutton .fa{
    padding-right: 3px;
}
.icecreambox .content .icecreamrating{
    font-size: 10px;
    display: flex;
    padding: 2px 0;
    width: 150px;
    margin-top: 5px;
    margin-left: 10px;
    align-items: baseline;
    border: none;
    background-color: white;
}
.icecreamrating h3{
    padding-right: 10px;
    color:#eb2f06;
    font-size: 15px;
    padding: 0 10px;
    font-weight: normal;
}
.icecreamrating .checked{
    color: green;
}
.content .icecreamcart{
    height:30px;
    width: 130px;
    font-size: 15px;
    border: none;
    margin-left: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(190, 21, 21, 0.89);
    color: antiquewhite;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.icecreamcart .fa-shopping-cart{
    font-size: 15px; 
}
.icecreamcart h4{
    font-weight: normal;
}
